.Menu {
  background: white;
  height: 1000px;
  width: 98.8vw;
}
.MenuHeader {
  border-radius: 50vh;
  cursor: pointer;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #242424;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.MuiPaper-root.MuiCard-root.ParentCard {
  border-radius: 21px;
  border: 1px solid #f75d10;
  background: #fff;
}

.MuiTypography-root.itemName {
  color: #242424;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: auto;
}

.MuiButtonBase-root.MuiButton-root.AddtoCartButton {
  border-radius: 10px;
  border: 1px solid #f75d10;
  background: #f75d10;
  color: #fff;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.MuiButtonBase-root.MuiButton-root.Itemcount {
  border-radius: 10px;
  background: #fff;
  color: #f75d10;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
