
.login_wrap {
  background: url(C:\Users\Parth\Desktop\ui-food\public\Image\LoginBackground.jpg) no-repeat;
  /* Keep the inherited background full size. */
  background-attachment: fixed; 
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: Right;
  height: 100vh;
  width: 100vw;
  margin-right: 60px ;
  }
  
  .LoginContainer {
    width: 400px;
    height: 400px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    padding: 1rem;
    align-items: center;
    text-align: center;
  }
  
  .LoginContainer:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }
/* .LoginContainer {
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
} */

.LoginContainer > input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}

.LoginContainer > .button {
    background: #f5a40e;
    border: 1px solid #f5a40e;
    color: #fff;
    font-size: 1.25rem;
    padding: 8px;
    margin: 10px 20px 10px 20px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

