.upperHomePageWrap {
    width: 100vw;
    height: 80vh;
}

.tagLine {
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 0px 0px 0px 50px;
    text-shadow: 3px 3px 9px rgb(59, 47, 23);
    background-color: 'transparent';
    margin-top: -20px;
}


.Logo {
    border-radius: 200px;
    font-size: 102px;
    background: -webkit-linear-gradient(#eb1111, rgb(60, 56, 55));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* CSS */
.orderNow {
    height: 4rem;
    width: 17rem;
    color: white;
    background-color: #f75d10;
    border-radius: 4rem;
    font-size: 2rem;
    font-weight: bolder;
    border-color: inherit;
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 17rem;
}

.orderNow:disabled {
    pointer-events: none;
}

.orderNow:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.orderNow:active {
    box-shadow: none;
    transform: translateY(0);
}



/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 96vh;
  background: #343F4F;
} */
.wrapper {
    display: flex;
}

.wrapper .dynamic-txts {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    color: #fc7135;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txts li span {
    position: initial;
    margin: 5px 0;
    line-height: 90px;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: rgb(255, 255, 255); */
    background: rgb(0, 0, 0) 0%;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

.MuiPaper-root.MuiCard-root{
    max-width: 100%;
    border-radius: 0%;
}

.MuiPaper-root.MenuCard{
    min-height: 21rem;
    background: #f75d10;
    max-width: 100%
}

.MuiPaper-root.MenuCard:hover{
    opacity: 1px;
}


/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #000000;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}