.tagLine {
    color: rgb(27, 12, 2);
    font-size: 50px;
    padding: 0px 0px 0px 50px;
    text-shadow: 3px 3px 9px rgb(59, 47, 23);
    background-color: 'transparent';
    margin-top: -20px;
}

.Home {
    background: rgb(237,237,237);
background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(239,233,226,1) 10%, rgba(255,215,171,1) 69%, rgba(255,191,120,1) 100%);

    height: 130vh;
    width: 98.vw;
}

.Logo {
    border-radius: 200px;
    font-size: 102px;
    background: -webkit-linear-gradient(#eb1111, rgb(60, 56, 55));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* CSS */
.orderNow {
    appearance: none;
    background-color: #F37806;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    /* font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
    text-shadow: 3px 3px 9px rgb(75, 56, 17);

    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    margin: 40px 20px 40px 30px;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 60px;
    width: 300px;
    will-change: transform;
}

.orderNow:disabled {
    pointer-events: none;
}

.orderNow:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.orderNow:active {
    box-shadow: none;
    transform: translateY(0);
}



/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 96vh;
  background: #343F4F;
} */
.wrapper {
    display: flex;
}

.wrapper .dynamic-txts {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    color: #fc7135;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txts li span {
    position: initial;
    margin: 5px 0;
    line-height: 90px;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: rgb(255, 255, 255); */
    background: rgb(255, 255, 255) 0%;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}