body {
  background: url("../../Image/profilebackground.png") no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.rootPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.rootProfileCard {
  height: 80%;
  width: 25%;
  text-align: -webkit-center;
}

.MuiPaper-root.Profilepicture {
  height: 10rem;
  width: 180px;
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  margin-bottom: 3rem;
}

.MuiPaper-root.profilecardcontent {
  width: 100%;
  height: inherit;
  background: #fffdfd;
  border-radius: 40px;
  margin-top: 7rem;
}

.MuiPaper-root.orangeBar {
  width: inherit;
  height: 20%;
  background: #f75d10;
  border-radius: 30px 30px 0px 0px;
  transform: rotate(-0.14deg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  align-items: center
}
.MuiTypography-root.Profilename {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  width: 50%;
  align-self: center;
}

.MuiPaper-root.contentCard {
  display: flex;
  flex-direction: column;
  height: 80%;
  border-radius: 40px;
}

.detailsSection {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4rem;
}

.iconText{
  display: flex;
  align-self: flex-start
}

.MuiTypography-root.textclass{
  margin-left: 1rem;
}

.MuiButtonBase-root.editButton{
  background: #F75D10;
  border-radius: 10px;
  width: 50%;
  align-self: center;
}
.MuiButtonBase-root.editButton:hover{
  background: #F75D10;
}

.MuiInputBase-root.MuiOutlinedInput-root.textclass{
  margin-left: 1rem;
}

@media only screen and (max-width: 784px) {
  .rootProfileCard {
     width: 85%;
  }
  .detailsSection {
    padding: 1rem;
  }
  
}

@media only screen and (min-width: 784px) {
  .rootProfileCard {
     width: 50%;
  }
  .detailsSection {
    padding: 1rem;
  }
  
}

@media only screen and (min-width: 1227px) {
  .rootProfileCard {
     width: 30%;
  }
  .detailsSection {
    padding: 1rem;
  }
  
}
