.profile_wrap {
    background: rgb(224, 181, 103);
    background: linear-gradient(90deg, rgba(224, 181, 103, 1) 0%, rgba(243, 120, 6, 1) 73%);
    height: 100vh;
    width: 98.8vw;
}

.nav_bar_profile {
    width: 96.8vw;
    height: 40px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    text-align: left;
    font-size: 25px;
  }
  
  .nav_bar_profile:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }


.profile_img {
    /* width: 100vw;
    height: 60px; */
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    padding: 1rem;
    align-items: center;
    text-align: left;
    font-size: 30px;
  }
  
  .profile_img:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }

  .profile_text {
    /* width: 100vw;
    height: 60px; */
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    padding: 1rem;
    align-items: center;
    text-align: left;
    font-size: 30px;
  }
  
  .profile_text:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }
  
  .center {
    display: block;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }